{% if publicitybottom  %}
    <a href="{{ publicitybottom[0].link }}">
        <section  class="section-divider textdivider divider3">
            <div class="container">
                <h1 class="fade-down section-title">{{ publicitybottom[0].titlePub }}</h1>
                <hr>
                <p class="fade-up">{{ publicitybottom[0].descriptionPub }}</p>
                <center>
                    <img  class="img fade-down" style="height: 250px"  src="/publicity/{{ publicitybottom[0].picturePub }}" >
                </center>

            </div>
        </section>
    </a>
{% endif %}