{% extends 'base.html.twig' %}
{% block body %}

<div class="home">
    <div class="home_background parallax-window" data-parallax="scroll" data-image-src="{{ asset('front/images/single_background.jpg') }}"></div>
    <div class="home_content">
        <div class="home_title">Votre commande</div>
    </div>
</div>

{% endblock %}